* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    border-color: white;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}


/* main link */
.main-link {
    display: inline-block;
    text-decoration: none;
     font-weight: 700;
     background-color:#FF7500;
     border-radius: 4px;
     padding: 12px 24px;
     text-align: center;
     white-space: nowrap;
 }
 /* MAIN LINE */
 .main-line {
    display: inline-block;
    width: 80px;
    height: 3px;
    background-color: #ff7500;
 }

.header {
    padding: 16px 0;
    border-top: 1px solid #FF7500;
}
/* HEADER */

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0;
    padding: 0;
}

 .logo-link {
    text-decoration: none;
 }

 .logo-img {
    width: 227px;
    height: 59px;
 }
 /* SITENAV */

 .sitenav {
    display: flex;
    align-items: center;
    gap: 32px;
 }

.sitenav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 32px;
}

.sitenav-link {
    text-decoration: none;
    color: black;font-weight: 500;
    text-transform: uppercase;
}

.sitenav-link.active {
    border-bottom: 3px solid #FF7500;
    padding-bottom: 4px;
}

/* Hero */
.hero {
  background-color: #252420;
}

.hero-inner {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-innerm .main-line {
    margin-bottom: 40px;
}
.hero-content {
    width: 390px;
}

.hero-title {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    font-family: "Roboto Condensed";
    margin-bottom: 24px;

}
.hero-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    list-style: 0.5px;
    margin-bottom: 32px;
}

.hero-img {
    width: 510px;
    height: 510px;
    border-radius: 8px;
    box-shadow: 24px 24px 0px rgba(255, 117, 0, 0.6);
    transform: translate(0, 40px);
}
/* features */

.features {
    padding: 200px 0 200px;
}

.features .main-line {
    margin-bottom: 24px;
}
.features-title {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 72px;
    line-height: 1.2;
}
.features-bottom {
    display: flex;
    align-items: center;
    gap: 40px;
}
.features-card {
    width: 340px;
}

.features-card::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("../img/feature-icon.svg");
    border-color: rgba(255, 119, 0, 0.2);
    background-repeat: no-repeat;
    background-size: 56px;
    background-position: center;
}

.features-card:nth-child(2)::before{
    background-image: url(../img/feature-icon\ \(1\).svg);

}

.features-card:nth-child(3)::before{
    background-image: url(../img/feature-icon\ \(2\).svg);
    
}

.features-card-heading {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 12px;
}
.features-card-text {
    letter-spacing: 0.5%;
    width: 314px;
}



.sale {
    display: flex;
    
   
}
.container-sale {
    border-radius: 12px;
    display: inline-block;
    display: flex;
    width: 1440px;
    height: 540px;
    background-color:black;
    left: 170px;
    top: 1555px;
    margin: 159px;
    


}
.sele-h2 {
}
.main-link {
}

.container-sale-inner {
    color:#fff;
    margin: 20px 64px;
    transform: translate(0, 40px);
   
    
}
img {
    box-shadow: 24px 24px 0px
    transform: translate(0, 40px);
}